body {
    font: 18px/27px PT Sans, sans-serif;
    color: #333333;
    text-transform: uppercase;
}
.title {
    font-weight: bold;
    font-size: 21px;
    color: #000000;
     
}
.title-white {    
    font-weight: bold;
    font-size: 21px; 
    color: #ffffff;
}